
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-user-outline:before { content: '\e805'; } /* '' */
.icon-doc-text:before { content: '\e806'; } /* '' */
.icon-contacts:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */